* {
  background: rgb(40, 40, 40);
  color: white;
}
.main {
  width: 35%;
  padding: 80px 0px;
  border: 1px solid white;
  border-radius: 20px;
  margin: auto;
  margin-top: 70px;
}
.main:hover {
  background-color: rgb(30, 30, 30);
}
.main:hover > h1 {
  background-color: rgb(30, 30, 30);
}
.btn {
  cursor: pointer;
  padding: 10px 50px;
  background: none;
  color: white;
  font-size: 20px;
  border: 1px solid white;
  border-radius: 10px;
  margin-bottom: 5px;
}
.btn:hover {
  background-color: orange;
  color: white;
  border: none;
  /* border: 1px solid white; */
}
